@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<br/>
<p>Sample Movie Comparer Application.</p>
<br/>
<p>Movie Icon made by Freepik from www.flaticon.com</p>

<br/><br/><br/><br/><br/><br/><br/>
