@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<br/>
<address>
    B Kinnish <br/>
    Melbourne <br/>
    Australia <br/>
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:bkinnish@hotmail.com">bkinnish@hotmail.com</a><br />
</address>

<br/><br/><br/><br/><br/><br/>